.item-wrapper {
    background: #078cf1;
    margin-top: 17px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-name {
        color: #fff;


        &.completed {
            p {

                text-decoration: line-through;

            }
        }
    }

    .icon-btns {
        color: #fff;


        .fa-edit {
            cursor: pointer;

        }

        .fa-trash {
            margin-left: 0.75rem;
            cursor: pointer;
        }

        .fa-check {
            margin-left: 0.75rem;
            cursor: pointer;

        }
    }

}