.edit-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;

    .edit-input {
        outline: none;
        background: none;
        border: 1px solid #078cf1;
        padding: 0.57rem 1rem;
        color: #fff;
        width: 100%;
    }

    .edit-btn {
        background: #078cf1;
        color: #fff;
        border: none;
        padding: 0.55rem;
        height: 40px;
        width: 115px;
        cursor: pointer;

        &.save-btn{
            border-right: 1px solid #1f1f4e;
        }
    }
}