.add-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

    .add-input {
        outline: none;
        background: none;
        border: 1px solid #078cf1;
        padding: 0.7rem 1rem;
        color: #fff;
        width: 100%;
    }

    .addItem-input::placeholder {
        color: #ffffff4d;
    }

    .add-btn {
        background: #078cf1;
        color: #fff;
        border: none;
        padding: 0.55rem;
        height: 40px;
        width: 110px;
        cursor: pointer;
    }
}